@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&family=Nunito:wght@500&display=swap");

body {
  background: linear-gradient(178deg, #8b62c4, #240542);
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 20px;
}

html {
  min-height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

a,
a:visited {
  color: rgb(154, 178, 251);
}

a:hover,
.nav-menu li:hover,
.scroll-down:hover {
  color: rgb(110, 174, 255);
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  list-style-type: none;
  padding-right: 1rem;
  cursor: pointer;
}

h1.main-title {
  font-size: 70px;
  margin: 0;
  border-bottom: skyblue solid 3px;
  line-height: 65px;
}

h2.main-subtitle {
  font-size: 40px;
  margin: 0;
  line-height: 45px;
}

.section-title {
  font-size: 40px;
}

.project-image {
  height: 250px;
  width: 100%;
  object-fit: contain;
}

.portfolio-item {
  padding-bottom: 1rem;
  position: relative;
}

.project-details {
  visibility: hidden;
  position: absolute;
  left: 5px;
  top: 0;
  height: 250px;
  width: 98%;
  transition: background-color 2s ease;
  background-color: rgba(145, 45, 229, 0.9);
}

.text-section {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* .portfolio-item:hover {
  opacity: 0.5;
} */

.portfolio-item:hover .project-details {
  background-color: rgba(6, 24, 186, 0.9);
  visibility: visible;

  display: block;
}

.project-info {
  padding-right: 29px;
  cursor: pointer;
}

.skill-list u {
  margin-bottom: 0;
}

.skill-list ul {
  margin-top: 0;
}
